@import "tailwindcss";


/* :root {
  --background-color: white;
  --text-color: black;
  --form-bg: #f0f0f0;
  --form-border: #ccc;
  --button-bg: #e0e0e0;
  --button-text: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
    --form-color: white;
    --form-bg: #1e1e1e;
    --form-border: #555;
    --button-bg: #333;
    --button-text: white;
  }
} */